page-home {
  ion-icon.px50 {
    width: 50px;
    height: 50px;
  }
  ion-icon.px100 {
    width: 100px;
    height: 100px;
  }
  ion-icon.px200 {
    width: 200px;
    height: 200px;
  }
  ion-icon.px300 {
    width: 300px;
    height: 300px;
  }

  .adaept-1 {
    margin: 20px auto;
    padding: 10px;
    text-align: left;
  }
  .adaept-1 svg {
    transition: 1s;
  }
  .adaept-1 svg:hover {
    transform: rotate(360deg) scale(2);
  }

}
