page-home {
  ion-icon.px50 {
    width: 50px;
    height: 50px;
  }
  ion-icon.px100 {
    width: 100px;
    height: 100px;
  }
  ion-icon.px200 {
    width: 200px;
    height: 200px;
  }
  ion-icon.px300 {
    width: 300px;
    height: 300px;
  }
}
